<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- add windows and osx configurations here -->
	<dllmap dll="SDL2.dll" os="linux" cpu="x86" target="./lib/linux/x86/libSDL2-2.0.so.0"/>
	<dllmap dll="soft_oal.dll" os="linux" cpu="x86" target="./lib/linux/x86/libopenal.so.1" />
	<dllmap dll="SDL2.dll" os="linux" cpu="x86-64" target="./lib/linux/x64/libSDL2-2.0.so.0"/>
	<dllmap dll="soft_oal.dll" os="linux" cpu="x86-64" target="./lib/linux/x64/libopenal.so.1" />
</configuration>
